:root {
  --bg-color: #080f0f;
  --primary-color: #e3b505;
  --second-color: #1be7ff;
  --terciary-color: #0353a4;
  --lavander-color: #dddbf1;
}

.hader {
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  background-color: var(--terciary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: fit-content;
  padding: 1rem;
  box-shadow: -2px 2px 0px #000;
}

.logo {
  color: #ffffff;
  display: flex;
  align-items: center;
  gap: .3rem;
}

.cont_logo{
  width: 3.4rem;
  height: 3.2rem;
  border-radius: 100%;
}

.cont_logo img{
  width: 100%;
  height: 100%;
}

.logo b{
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
}

.nav {
  position: absolute;
  height: fit-content;
  width: 100%;
  top: 5rem;
  padding: 0.5rem;
  left: 0;
  background-color: var(--terciary-color);
  font-weight: bold;
}

.nav_ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  width: 100%;
  font-size: 1.2rem;
}

.link_ul_header {
  display: block;
  margin-top: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: #1d1c1c;
  text-decoration: none;
  color: #fff;
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

.icon_header{
  font-size: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .hide {
    display: inherit;
  }

  .icon_header {
    display: none;
  }

  .hader {
    height: fit-content;
    padding: .5rem 1rem;
  }

  .nav {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    background-color: var(--terciary-color);
    padding: 0;
    margin: 0;
  }

  .nav_ul {
    display: flex;
    align-items: center !important;
    justify-content: end;
    flex-direction: row;
    gap: 1rem;
  }

  .link_ul_header {
    display: block;
    margin: 0;
    padding: .35rem 1rem;
    border-radius: 0.5rem;
    background-color: #000;
    transition: background-color 300ms;
  }

  .link_ul_header:hover {
    background-color: var(--terciary-color);
    scale: .98;
  }
  
}
